<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ nombre2 }}</td>
          <td>capitalizado</td>
          <td>{{ nombre2 | capitalizado: false }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice: 3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice: 0:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:1:5</td>
          <td>{{ arreglo | slice: 1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number</td>
          <td>{{ PI | number: "1.0-0" }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-2'</td>
          <td>{{ PI | number: ".0-2" }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.0-2'</td>
          <td>{{ porcentaje | percent: "2.2-2" }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'CAD':'symbol-narrow':'.0-0'</td>
          <td>{{ salario | currency: "CAD":"symbol-narrow":".0-0" }}</td>
        </tr>
        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date: "medium" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date: "short" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - dd'</td>
          <td>{{ fecha | date: "MMMM - dd" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>
            fecha | date:'MMMM - dd':'':'{{ idioma }}'
            <br />
            <button (click)="idioma = 'es'" class="mr-1 btn btn-primary">
              Español
            </button>
            <button (click)="idioma = 'en'" class="mr-1 btn btn-secondary">
              Ingles
            </button>
            <button (click)="idioma = 'fr'" class="mr-1 btn btn-success">
              Francés
            </button>
          </td>
          <td>{{ fecha | date: "MMMM - dd":"":idioma }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>Contraseña: {{ activar }}
             <br>
             <button
             (click)="activar = !activar"
             class="btn btn-outline-primary">
               Activar/Desactivar
             </button>
          </td>
          <td>{{ nombre | contrasena:activar }}</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <hr />

    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arreglo | slice: 5:20">{{ item }}</li>
    </ul>
    <hr />
    <hr />
    <h3>JSON</h3>
    <hr />
    <div class="row mb-2">
      <div class="col">
        <pre>

            {{ heroe | json }}
          </pre
        >
      </div>
    </div>
    <hr />
    <hr />
  </div>
</div>
<hr />
<hr />
<h3 class="mt-4">DomSeguro</h3>
<hr />
<div class="row mb-5">
  <div class="col">
    <iframe
      width="560"
      height="315"
      [src]="videoUrl | domSeguro "
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
